body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    height: 89px;
    position: relative;
}
.header p{
    color: #637f83;
    font-weight: 900;
    font-size: 32px;
    margin: 0;
    padding: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%)
}
.banner{
    text-align: center;
    background-image: url(../image/banner.png);
    background-position-x: center;
    background-repeat: no-repeat;
    height: 520px;
    overflow: hidden;
    box-sizing: border-box;
}
.banner p{
    padding-top: 175px;
    font-weight: 700;
    line-height: 1.3em;
    text-decoration: underline;
    color: #fff;
    font-size: 40px;
    margin: 0;
}
.banner h5{
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    line-height: 1.625em;
    padding-top: 30px;
    margin: 0;
}
.title{
    text-align: center;
}
.title p{
    margin: 0;
    padding-top: 40px;
    font-weight: 300;
    font-size: 34px;
    color: #637f83;
}
.title h5{
    margin: 0;
    font-size: 24px;
    color: #637f83;
    padding-bottom: 46px;
}
.item{
    background-color: #f6f6f6;
}
.item_title{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.item_1{ 
    padding: 63px 40px 60px;
    border-left: 1px solid #d5d5d5;
    width: 18%;
}
.item_1:first-child{
    border: none;
}
.item_1 p{
    margin: 0;
    padding-top: 36px;
    font-weight: 700;
    font-size: 22px;
    color: #637f83;
}
.item_1 h1{
    font-weight: 300;
    font-size: 14px;
    color: #959494;
    line-height: 1.4em;
}
.btn{
    background-color: #637f83;
    border: none;
    width: 70px;
    height: 33px;
    padding: 0;
    margin: 27px 0 0;
    border-radius: 4px;
    
}
.btn a{
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
}
.cras{
    padding: 4.9% 0 2.9%;
    text-align: center;
}
.cras p{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 34px;
    color: #637f83;
}
.cras h1{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    color: #637f83;
}
.orange {
    margin-top: 4.3%;
    text-align: center;
}
.orange_1, .line{
    width: 100%;
}
.button{
    background-color: #e4551d;
    border: none;
    border-radius: 4px;
    margin-top: 3.4%;
    padding: 10px 20px;
}
.button a{
    color: #fff;
    font-weight: 700;
    font-size: 90%;
    text-decoration: none;
}
.footer{
    background-color: #637f83;
    height: 105px;
    margin-top: 5%;
    position: relative;
}
.footer p{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 300;
    font-size: 1.2%;
    color: #fff;
}
@media (max-width: 1170px){
    .item_1{ 
        width: 30%;
        margin-top: 20px;
    }
    .item_1:nth-child(3){
        border: none;
    }
    .item_1:nth-child(1){
        margin-top: 0;
    }.item_1:nth-child(2){
        margin-top: 0;
    }
}
@media (max-width: 800px){

    .title p{
        padding-top: 35px;
        font-size: 30px;
    }
    .title h5{
        font-size: 20px;
        padding-bottom: 40px;
    }
    .item_1{ 
        padding-top: 50px; 
        padding-bottom: 40px;
    }
    .cras p{
        font-size: 30px;
    }
    .cras h1{
        font-size: 20px;
    }
    .footer{
        height: 85px;
    }
    .button{
        padding: 8px 16px;
    }
    .button a{
        font-size: 80%;
    }
}
@media (max-width: 650px){
    .banner p{
        padding-top: 175px;
        font-size: 32px;
    }
    .title p{
        padding-top: 30px;
        font-size: 26px;
    }
    .title h5{
        font-size: 16px;
        padding-bottom: 38px;
    }
    .cras p{
        font-size: 26px;
    }
    .cras h1{
        font-size: 16px;
    }
    .footer{
        height: 75px;
    }
    .button{
        padding: 6px 12px;
    }
    .button a{
        font-size: 70%;
    }
}
@media (max-width: 570px){
    .header p{
        font-size: 28px;
    }
    .banner p{
        font-size: 25px;
    }
    .title p{
        padding-top: 18px;
        font-size: 20px;
    }
    .title h5{
        font-size: 12px;
        padding-bottom: 20px;
    }
    .item_1{ 
        width: 47%;
        margin-top: 20px;
        border-bottom: 1px solid #d5d5d5;
        border-left: none;
        padding: 50px 10px 5px; 
    }
    .item_1:last-child{
        margin-bottom: 30px;
        border: none;
    }
    .cras p{
        font-size: 22px;
    }
    .cras h1{
        font-size: 12px;
    }
    .footer{
        height: 55px;
    }
}
@media (max-width: 420px){
    .banner P{
        font-size: 20px;
        padding-top: 200px;
    }
    .banner h5{
        font-size: 12px;
    }
    .title p{
        padding-top: 16px;
        font-size: 16px;
    }
    .title h5{
        font-size: 8px;
        padding-bottom: 18px;
    }
    .item_1{
        width: 51%;
        padding: 35px 0 5px;
    }
    .item_1 p{
        padding-top: 22px;
        font-size: 18px;
    }
    .cras p{
        font-size: 18px;
    }
    .cras h1{
        font-size: 8px;
    }
    .button{
        padding: 4px 8px;
    }
    .button a{
        font-size: 60%;
    }
}
